---
import Navbar from '@/components/Layout/Navbar';
import Footer from '@/components/Layout/Footer';

// CSS imports
import '@fontsource/inter'
import '@css/globals.css'
---

<Navbar />
<main>
  <slot />
</main>
<Footer />
